body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex; /* Enables Flexbox */
  justify-content: space-between; /* Spaces out the logo and nav links */
  align-items: center; /* Aligns items vertically */
}

.nav-content {
  list-style-type: none;
  display: flex;
  justify-content: right;
  
 
}

nav ul li {
  padding: 0.5rem;
  float: right;
  color: blue;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

