html {
  scroll-behavior: smooth;
  scroll-padding-top: 28vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Nav styling */

nav {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex; /* Enables Flexbox */
  justify-content: space-between; /* Spaces out the logo and nav links */
  align-items: center; /* Aligns items vertically */
  padding-top: none;
  position: sticky;
  top: 0; /* Adjust if necessary, but 0 will stick it to the top */
  z-index: 1000; /* Ensure it stays on top of other elements */
  transition: all 0.3s ease-in-out;
  height: 12vh;
  margin-bottom: none;
}

.navbar.scrolled {
  height: 8vh;
  background-color:  #f0c321;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* Styles for your scrolled navbar */
}

.navbar.scrolled a{
  color: #333; 
  text-decoration: none;
  vertical-align: middle;
}

.navbar.scrolled a:hover{
  text-decoration: underline;
}

.navbar.scrolled ul li {
  padding: 0.5rem;
  float: right;
  margin-right: 50px;  
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-content {
  list-style-type: none;
  display: flex;
  justify-content: right;
  margin-top: 0px; 
  
}

nav ul li {
  padding: 0.5rem;
  float: right;
  margin-right: 50px;
  vertical-align: middle;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.logo img {
  width: 95px; /* Default size */
  height: auto;
  margin-left: 3.5vw;
}

/* For tablets */
@media (max-width: 768px) {
  .logo img {
    width: 80px;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .logo img {
    width: 60px;
  }
}

/* Styles for the hamburger menu */
.icon-menu{
  display: none; /* Hidden by default */
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Styles for the expanded menu */
.nav-content.expanded {
  display: block;
}

/* Hide the menu items by default on small screens */
@media (max-width: 768px) {
  .nav-content {
    display: none; /* Hide the nav items */
    position: absolute;
    right: 0;
    background-color: #f0c321;
    /* Additional styles for the expanded menu */
  }

  .nav-content.expanded {
    display: block;    
  } 

  .icon-menu {
    display: block; /* Show the hamburger icon */
  }
}

@media (max-width: 768px) {
  .nav-content {
    
    width: 40%; /* or any width you prefer */
    top: 0;
    right: 0;
    height: 100vh; /* full height */
    transform: translateX(100%); /* Hide off-screen */
    transition: transform 1s ease-in-out;
  }

  .nav-content.expanded {
    transform: translateX(0); /* Show on screen */
  }

  /* Additional styles */
}

.close-nav {
  font-size: 24px; /* Adjust size as needed */
  background: none;
  border: none;
  color: white; /* Adjust color to match your design */
  position: absolute;
  top: 10px; /* Adjust position as needed */
  right: 10px; /* Adjust position as needed */
  cursor: pointer;
}

/* Home style */
.home {
  background-color: #333;
  display: block;
  width: 100vw;
  height: 100vh;
}

.home p {
  display: block;
  margin-bottom: 1em;
  text-align: left;
  margin-left: 25vh;  
}

.name-title {
  padding-top: 50px;  
  font-size: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f0c321;
  line-height: 1px;
  margin-bottom: 10px;
}

.title-description {    
  margin-bottom: 1em;
  margin-top: 0;
  font-size: 25px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-button {
  text-align: left;
  margin-bottom: 1em;  
  margin-left: 25vh;  
  margin-top: 5vh;
}

.button-a {
  width:150px;
  width:150px;
  height: 52px;
  background-color: transparent;
  border: 3px solid;
  border-color: rgb(20, 174, 251);
  border-radius: 8px;
  cursor: pointer;            
}

.button-a a {
  text-decoration: none;
  letter-spacing: 1px;;
  font-family: 'Rubik', sans-serif; 
  font-size: 14px;
  color: rgb(20, 174, 251);
  font-weight: bold;
}

.button-b {
  width:150px;
  height: 52px;
  margin-left: 15px;
  border-radius: 8px;
  background: transparent;
  border: 3px solid;
  border-color: #c69e0d;
  cursor: pointer;    
}

.button-b a {
  text-decoration: none;
  letter-spacing: 1.5px;
  font-family: "Rubik",sans-serif;
  font-size: 14px;
  color:#c69e0d;
  font-weight: bold;
}

/*About style */
.about {
  background-color: #333;
  display: block;
  width: 100vw;
  height: 100vh;
}

.about p {
  display: block;
  margin-bottom: 1em;
  text-align: left;
  margin-left: 25vh;  
}

.about-title {  
  margin-left: 25vh;
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f0c321;
  line-height: 1px;
  
}

.about-title img {
  width: 350px; 
  height: auto;
  margin-left: 20px;
  margin-bottom: none;
  vertical-align: middle;
}

.about-title::after {
  content: '';
  display: block;
  height: 2px; /* Thickness of the line */
  width: 220px; /* Adjust the width as needed for the short line */
  background: #f0c321; /* Line color */
  position: absolute;
  bottom: -52vh; /* Adjust the position */
  left: 19.5%; /* This centers the line */
  transform: translateX(-50%); /* This also helps in centering the line */
}

.about-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10vh;
}

.about-description {
  flex-basis: auto;
  margin-bottom: 1em;
  margin-top: 0;
  font-size: 22px;
  font-weight: lighter;
  color: white;
  font-family: rubik;    
  margin-right: 10vw;
  text-align: justify;
}

.about-main img {
  width: 220px;
  height: 200px;  
  /*border-radius: 50%; */
  flex-basis: auto; 
  margin-right: 10vw;  
  margin-bottom: 5vh;
}


@media (max-width: 768px) {
  .about-main {
    flex-direction: column;
    text-align: center; /* Center align the text for mobile */
  }

  .about-description, .about-main img {
    width: auto; /* Let them take up the natural width */
    margin: 0 auto; /* Center the image and description */
  }

  .about-description {
    /* Adjust font size and padding as necessary for mobile */
    font-size: 18px; /* Smaller font size for mobile */
    padding: 0 20px; /* Add padding on the sides */
  }

  .about-main img {
    width: 120px; /* Smaller size for the image on mobile */
    height: 120px; /* Keep width and height the same for the circle */
    margin-bottom: 20px; /* Add some space below the image */
  }
}

/* Contact styling */
.contact {
  background-color: #333;
  display: block;
  width: 100vw;
  height: 100vh;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: none;
  border-radius: 8px;
}

/* Style for form elements: label, input, textarea */
form label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  color: white;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 2px solid #f0c321;
  color: white;
  box-sizing: border-box; 
  background-color: #333;/* Include padding in the element's total width and height */
}

form textarea {
  height: 150px;
  resize: vertical; /* Allows the user to resize the textarea vertically */
}

/* Style for the submit button */
form input[type="submit"] {
  
  padding: 10px 20px;
  margin-top: 20px;  
  color: #f0c321;  
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width:150px;
  height: 52px;  
  border-radius: 8px;
  background: transparent;
  border: 3px solid;
  border-color: #c69e0d;
  cursor: pointer;    
}

/* Hover effect for the button */
form input[type="submit"]:hover {
  background-color: rgb(20, 174, 251);
}


/* Social media icon styling */
.Social {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5vh;
  margin-bottom: 3vh;
}

.icon-container .icon-link {
  background-color: #f0c321; /* Circle background */
  color: white; /* Icon color */
  border-radius: 50%; /* Circular shape */
  padding: 10px; /* Space around the icon */
  margin: 1.5vh 0; /* Space between icons */
  width: 35px; /* Circle size */
  height: 35px; /* Circle size */
  display: flex; /* To center the icon horizontally and vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  transition: transform 0.3s; /* Smooth transform on hover */
}

.fa-svg {
  color: white; /* Icon color */
  font-size: 25px; /* Icon size */
}

.Social a {
  display: inline-block;
  margin-bottom: 0.5vh; /* Space between icons */
}

.Social a img {
  width: 40px; /* Adjust size as needed */
  height: auto;
}

/* Example for hover effect */
.Social a:hover {
  opacity: 0.7;
  background-color: black;
}
